<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{data.name}}</h2>
    <p>{{data.description}}</p>
    <p>{{data.file}} <p>
    
    <a href="/update/{{data.id}}">update</a>
    <a href="/delete/{{data.id}}">delete</a>
    <a href="/share/{{data.id}}">share</a>
    

    <h2>Post comment</h2>

    <form action="/add/comment/{{data.id}}" method="post">
        {% csrf_token %}
        <textarea name="comment" id="" cols="30" rows="10"></textarea>
        <button type="submit">post</button>
    </form>
    <h2>Comments</h2>
    {% for i in comments %}
        
            <p>
               {% for x in user %}
                    {% if x.id == i.user_id %}
                    <div style="padding:10px;background-color:whitesmoke;">
                        <p>
                            {{x.username}}
                        </p>
                        <p>{{i.comment}}</p>
                        
                        {% if i.user_id == request.user.id %}
                        <a href="/delete/{{data.id}}/comment/{{i.id}}">delete</a>
                        {% endif %}
                    
                        
                    </div>
                    {% endif %}
               {% endfor %}
            </p>

        
    {% endfor %}
</body>
</html>